<section class="vbox" *ngIf="url != '/login'" >
  <header class="bg-dark dk header navbar navbar-fixed-top-xs ">
    <div class="navbar-header aside-md">
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html"> <i class="fa fa-bars"></i> </a>
      <a href="#" class="navbar-brand" data-toggle="fullscreen"><i class="fa fa-shopping-cart icon"></i><img  class="m-r-sm">Construmart</a>
      <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user"> <i class="fa fa-cog"></i> </a>
    </div>
    <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="thumb-sm avatar pull-left"> <img src="assets/images/avatar.jpg"> </span> John Doe <b class="caret"></b> </a>
        <ul class="dropdown-menu animated fadeInRight"> <span class="arrow top"></span>
          <li> <a routerLink="/settings">Settings</a> </li>
          <li> <a routerLink="/profile">Profile</a> </li>
          <li class="divider"></li>
          <li> <a style="cursor: pointer;" (click)="logout()">Logout</a> </li>
        </ul>
      </li>
    </ul>
  </header>
<!--  <section>-->
    <section class="hbox stretch">
      <!-- .aside -->
      <aside class="bg-light lter b-r aside-md hidden-print hidden-xs sidebar-container" id="nav">
        <section class="vbox">
          <header class="header bg-light lter text-center clearfix">
            <p style="font-size: 14px;"><strong>Navigation</strong></p>
          </header>
          <section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px">
              <!-- nav -->
              <nav class="nav-primary hidden-xs">
                <ul class="nav">
                  <li>
                    <a routerLink="dashboard">
                      <i class="fa fa-dashboard icon"> <b class="bg-light"></b></i>
                      <span>Dashboard</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="categories">
                      <i class="fa fa-table icon"> <b class="bg-light"></b></i>
                      <span>Categories</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="products">
                      <i class="fa fa-trash-o icon"> <b class="bg-light"></b></i>
                      <span>Products</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="orders">
                      <i class="fa fa-inbox icon"> <b class="bg-light"></b></i>
                      <span>Orders</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="inventory">
                      <i class="fa fa-inbox icon"> <b class="bg-light"></b></i>
                      <span>Inventory</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="drivers">
                      <i class="fa fa-truck icon"> <b class="bg-light"></b></i>
                      <span>Drivers</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- / nav -->
            </div>
          </section>
          <footer class="footer footer-2 lt hidden-xs b-t b-light">
            <a class="pull-right btn btn-sm btn-icon btn-version"> v1.0 </a>
            <div class="btn-group hidden-nav-xs">
              <div class="text-center padder" style="margin-top: 6px; padding-left: 0">
                <p>
                  <small style="">©2019 Construmart</small>
                </p>
              </div>
            </div>
          </footer>
        </section>
      </aside>
      <!-- /.aside -->
      <section id="content">
        <section class="vbox">
          <router-outlet></router-outlet>
        </section>
      </section>
    </section>
<!--  </section>-->
  <footer></footer>
</section>

<div *ngIf="url == '/login'">
  <router-outlet></router-outlet>
</div>

<!-- loading overlay -->
<div class="transparent-overlay" id="loading-overlay" style="display: none;">
  <div class="loading-img">
    <img src="assets/images/loading.gif"><br>
    loading . . .
  </div>
</div>
<!--/ loading overlay -->

